/old/*
/MyWebSite/*
/WEB_SPRING_TAREFAS/build/
/WEB_SPRING_TAREFAS/dist/
/SPRING_WEB/nbproject/private/
/SPRING_WEB/build/
/LPIII_201602/nbproject/private/
/LPIII_201602/build/
/LPIII_201602/dist/
/Aula_LPOO_2016_01/dist/
/WEB_JSF_HIBERNATE_LIVRARIA/nbproject/private/
/MavenJSFPrimeHibernate/target/
/Geliv/dist/
/Geliv/build/
/Geliv/nbproject/private/
/Geliv/Geliv/target/
/Geliv/WEB_JSF_HIBERNATE/target/
/Geliv/WEB_JSF_HIBERNATE_MAVEN/target/
/Geliv/WEB_JSF_HIBERNATE_MAVEN_LIVROS/target/
/Geliv/WEB_JSF_HIBERNATE_BIBLIOTECA/target/
/WEB_JSF_HIBERNATE_MAVEN/target/
/WEB_MAVEN_JSF_HIBERNATE/target/
/DRA_PROJETO_MVC_SWING/build/
/PHOTOS/nbproject/private/
/PHOTOS/dist/
/PHOTOS/build/
/HelloWorldJavaFX/nbproject/private/
/HelloWorldJavaFX/build/
/HelloWorldJavaFX/dist/
/DRA_JAVAFX/build/
/DRA_JAVAFX/dist/
/JavaFXApplication5/nbproject/private/
/DRA_PROJETO_MVC_SWING/dist/
/Projeto_LPIII_Marcelo/build/
/Projeto_LPIII_Marcelo/dist/
/Projeto_LPIII_Marcelo/nbproject/private/
/COLETOR_WEB/nbproject/private/
/COLETOR_WEB/build/
/trabAlunos/PIG/MyPig/build/
/trabAlunos/PIG/MyPig/nbproject/private/
/trabAlunos/PIG/Sistema Academico/build/
/trabAlunos/PIG/Sistema Academico/nbproject/private/
/trabAlunos/PIG/Sistema Academico1/nbproject/private/